<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <a href="#" class="w-25 mx-auto d-block btn btn-primary" data-toggle="modal" data-target="#principalmodal">Add New
        Principal</a>
    </div>
  </div>
</div>

<div class="mx-5">
  <table class="table mt-5">
    <thead class="thead-light">
      <tr>
        <th scope="col">S. No.</th>
        <th scope="col">School Name</th>
        <th scope="col">Principal Name</th>
        <th scope="col">E-mail</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Location</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let princial of principalData; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{school.school}}</td>
        <td>{{school.staffEmail}}</td>
        <td>{{school.location}}</td>
        <td>
          <a (click)="openUpdateModal(staff)" data-toggle="modal" data-backdrop="static" data-target="#principalmodal" class="btn btn-sm btn-outline-lightning rounded-0 mr-2 ">
            <i class="far fa-edit"></i>
          </a>
          <a class="btn btn-sm btn-outline-lightning rounded-0">
            <i class="far fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Principal Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-control" id="selectschool">
                <option>Select School</option>
                <option>The Jaipuria School, Farrukhabad</option>
                <option>Seth Anandram Jaipuria School, Unnao</option>
                <option>Seth Anandram Jaipuria School, Lucknow (Alambagh Extn)</option>
                <option>Seth Anandram Jaipuria School, Varanasi</option>
                <option>Seth Anandram Jaipuria School, Sitarganj</option>
                <option>Seth Anandram Jaipuria School, Satna</option>
                <option>Seth Anandram Jaipuria School, Raebareli</option>
                <option>Seth Anandram Jaipuria School, Mirzapur</option>
                <option>Seth Anandram Jaipuria School, Dibiyapur</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" readonly class="form-control text-center" id="staticPassword" value="School Location">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="principalname" placeholder="Principal Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" class="form-control" id="principalemail" placeholder="Enter email">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="tel" id="principalphone" name="principalphone" class="form-control"
                placeholder="Contact Number">
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>