<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold mt-5 text-info mb-4">TEACHER DASHBOARD</h1>
        </div>
    </div>
    <div class="row mx-5 mt-5">
        <div class="col-md-6">
            <img class="img-fluid mx-auto d-block" src="./assets/img/graphs_3.png">
        </div>
        <div class="col-md-6">
            <img class="img-fluid mx-auto d-block" src="./assets/img/graphs_4.png">
        </div>
    </div>
</div>