<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <button type="button" (click)="isEdit=false" class="w-25 mx-auto d-block btn btn-primary" data-toggle="modal" data-backdrop="static" data-target="#staffModal">Add New Staff</button>
      </div>
  </div>
</div>

<div class="mx-5">
  <table class="table mt-5">
    <thead class="thead-light">
      <tr>
        <th scope="col">S. No.</th>
        <th scope="col">School Name</th>
        <th scope="col">Staff Type</th>
        <th scope="col">Non Teaching Area</th>
        <th scope="col">Teacher Type</th>
        <th scope="col">Teacher Category</th>
        <th scope="col">Class Teacher</th>
        <th scope="col">Subject</th>
        <th scope="col">Class</th>
        <th scope="col">Section</th>
        <th scope="col">Staff Name</th>
        <th scope="col">Staff E-mail</th>
        <th scope="col">Contact No.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teacher of teacherData; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{staff.school}}</td>
        <td>{{staff.staffType}}</td>
        <td>{{staff.nonteachingArea}}</td>
        <td>{{staff.teacherType}}</td>
        <td>{{staff.teacherCategory}}</td>
        <td>{{staff.classTeacher}}</td>
        <td>{{staff.subject}}</td>
        <td>{{staff.class}}</td>
        <td>{{staff.section}}</td>
        <td>{{staff.staffName}}</td>
        <td>{{staff.staffEmail}}</td>
        <td>{{staff.staffContact}}</td>
        <td>
          <a (click)="openUpdateModal(staff)" data-toggle="modal" data-backdrop="static" data-target="#staffModal" class="btn btn-sm btn-outline-lightning rounded-0 mr-2 ">
            <i class="far fa-edit"></i>
          </a>
          <a class="btn btn-sm btn-outline-lightning rounded-0">
            <i class="far fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Modal -->
<div class="modal fade" id="staffModal" tabindex="-1" role="dialog" aria-labelledby="staffModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staffModal">Staff Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #stForm='ngForm'>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-control" [(ngModel)]="staffForm.school" name="school" required>
                <option class="dropdown-item" value="" disabled selected>Select School</option>
                <option *ngFor="let school of schoolArr" class="dropdown-item"  value="{{school.name}}">{{school.name}}</option>
              </select>
            </div>
          </div> 
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-control" [(ngModel)]="staffForm.staffType" name="staffType" required>
                <option class="dropdown-item" value="" disabled selected>Type of Staff</option>
                <option *ngFor="let staffType of schoolArr" class="dropdown-item"  value="{{staffType.name}}">{{staffType.name}}</option>
              </select>
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-control" [(ngModel)]="staffForm.nonteachingArea" name="nonteachingArea" required>
                <option class="dropdown-item" value="" disabled selected>Staff Area</option>
                <option *ngFor="let nonteachingArea of schoolArr" class="dropdown-item"  value="{{nonteachingArea.name}}">{{nonteachingArea.name}}</option>
              </select>
              </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-control" [(ngModel)]="staffForm.teacherType" name="teacherType" required>
                <option class="dropdown-item" value="" disabled selected>Type of Teacher</option>
                <option *ngFor="let teacherType of schoolArr" class="dropdown-item"  value="{{teacherType.name}}">{{teacherType.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-control" [(ngModel)]="staffForm.teacherCategory" name="teacherCategory" required>
                <option class="dropdown-item" value="" disabled selected>Teaching Category</option>
                <option *ngFor="let teacherCategory of schoolArr" class="dropdown-item"  value="{{teacherCategory.name}}">{{teacherCategory.name}}</option>
              </select>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-control" [(ngModel)]="staffForm.classTeacher" name="classTeacher" required>
                <option class="dropdown-item" value="" disabled selected>Class Teacher</option>
                <option *ngFor="let classTeacher of schoolArr" class="dropdown-item"  value="{{classTeacher.name}}">{{classTeacher.name}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <ng-multiselect-dropdown  placeholder="Select Subject" [data]="dropdownList"
                [(ngModel)]="selectedItems" name="selectedItems" [settings]="dropdownSettings"  (onDeSelect)="OnItemDeSelect($event)" (onSelect)="onItemSelect($event)">
              </ng-multiselect-dropdown>
              <!-- <select class="form-control" id="teachersubject">
                <option>Select Subject</option>
                <option>English</option>
                <option>E.V.S.</option>
                <option>Social Studies</option>
                <option>Hindi</option>
                <option>Mathematics</option>
                <option>Computer</option>
                <option>G.K.</option>
                <option>Physics</option>
                <option>Chemistry</option>
                <option>Biology</option>
                <option>Music</option>
                <option>Physical Education</option>
                <option>Geography</option>
                <option>Sanskrit</option>
                <option>Political Science</option>
                <option>History</option>
                <option>Dance</option>
                <option>Art & Craft</option>
                <option>French</option>
                <option>Gurmukhi</option>
                <option>German</option>
              </select> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-control" id="teacherclass">
                <option>Select Class</option>
                <option>Nursery</option>
                <option>L.K.G.</option>
                <option>U.K.G.</option>
                <option>Class 1</option>
                <option>Class 2</option>
                <option>Class 3</option>
                <option>Class 4</option>
                <option>Class 5</option>
                <option>Class 6</option>
                <option>Class 7</option>
                <option>Class 8</option>
                <option>Class 9</option>
                <option>Class 10</option>
                <option>Class 11</option>
                <option>Class 12</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <select class="form-control" id="teacherclass">
                <option>Select Section</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
                <option>D</option>
                <option>E</option>
                <option>F</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" #staffName='ngModel' name="staffName"
                [(ngModel)]="staffForm.firstName" id="stname" required>
              <div *ngIf="staffName.invalid && (staffName.dirty || staffName.touched)" class="text-danger">
                <div *ngIf="staffName.errors.required">
                  Staff Name is required
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" #email='ngModel' name="email" [(ngModel)]="staffForm.email" [pattern]="emailPattern"
                class="form-control" id="e-Mail" required>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div *ngIf="email.errors.required">
                  Email is required
                </div>
                <div *ngIf="email.errors.pattern">
                  Enter valid Email
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="number" class="form-control" #mobileNo='ngModel' [pattern]="mobilePattern" name="mobileNo"
              [(ngModel)]="staffForm.mobileNo" id="mNo" required>
            <div *ngIf="mobileNo.invalid && (mobileNo.dirty || mobileNo.touched)" class="text-danger">
              <div *ngIf="mobileNo.errors.required">
                Mobile No is required
              </div>
              <div *ngIf="mobileNo.errors.pattern">
                Enter valid Mobile No
              </div>
            </div>
            </div>
          </div>
          <div class="col-md-12 my-3">
            <h4 class="text-center">FOR BULK UPLOADING</h4>
          </div>
          <div class="row">
          <div class="col-md-6">
            <p class="text-right text-danger font-weight-bold">Upload Excel Only (.xlsx)</p>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
          </div>
        </div>
      </div>
    </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
        <button *ngIf="!isEdit" type="button" class="btn btn-primary" [disabled]="stForm.invalid" (click)="addStaff(stForm)">Add Staff</button>
      </div>
    </div>
  </div>
</div>