<div class="container" *ngIf="documentFormDisplay">
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center my-4">STATEMENT FOR THE DOCUMENT EVALUATION FORM</h2>
		</div>
	</div>
		<div class="row mb-5">
		<div class="col-md-12"><h3 class="text-uppercase font-eweight-bold mb-3 bg-info d-block py-1 pl-2 text-white w-25">my duties</h3></div>
		<div class="col-md-12 form-group">
			<label class="labeltext text-secondary h4 pl-2"><span>1.&nbsp;</span>Study the Lesson Plans well in advance.</label>
			<div class="form-check-inline float-right">
				<label class="customradio mr-3"><span class="radiotextsty">SELDOM</span>
					<input type="radio" checked="checked" name="radio">
					<span class="checkmark"></span>
				</label>
				<label class="customradio mr-3"><span class="radiotextsty">OCASSIONALLY</span>
					<input type="radio" name="radio">
					<span class="checkmark"></span>
				</label>
				<label class="customradio mr-3"><span class="radiotextsty">FREQUENTLY</span>
					<input type="radio" checked="checked" name="radio">
					<span class="checkmark"></span>
				</label>
				<label class="customradio mr-3"><span class="radiotextsty">ALWAYS</span>
					<input type="radio" name="radio">
					<span class="checkmark"></span>
				</label>
			</div>
		</div>
		
	<div class="col-md-12 mt-3">
		<button class="btn btn-success float-right mb-5" (click)="submitDocumentEvaluation($event.target.value)" type="button">Submit Now</button>
	</div>
	</div>
</div>

<div class="container mt-5" *ngIf="!documentFormDisplay">
	<div class="jumbotron">
		<h3 class="text-center font-eweight-bold mb-4">SETH ANANDRAM JAIPURIA SCHOOL AUDIT 2020<br>SUBMITTED SUCCESSFULLY COMPLETED</h3>
		<button *ngIf="isLoggedIn" (click)="doLogOut()" type="button" class="btn btn-info mx-auto d-block">LOG OUT</button>
	</div>
</div>