<div class="h-100 navbar navbar-dark bg-dark d-block">
<ul class="nav flex-column">
  <h4 class="text-center text-white font-weight-bold">Admin Section</h4>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/admin_dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/add_school">Add-School</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/add_principal">Add-Principal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/add_teacher">Add-Staff</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/add_assessment">Add-Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/add_user">User Management</a>
  </li>
  </ul>

<hr class="border-white d-block">


<ul  class="nav flex-column">
  <h4 class="text-center text-white font-weight-bold">Principal Section</h4>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/principal_dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/assign_teacher">Assign Teacher</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/principal_assessment">Teachers Assessment</a>
  </li>
  </ul>


  <hr class="border-white d-block">




<ul  class="nav flex-column">
  <h4 class="text-center text-white font-weight-bold">Teachers Section</h4>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/teacher_dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/teacher_self_assessment">Self Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/teacher_peer_assessment">Peer Assessment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-secondary" href="#" routerLink="/teacher_other_assessment">Document Assessment</a>
  </li>
</ul>
</div>