<div class="container-fluid mt-5">
    <div class="jumbotron">
		<h4 class="text-center font-eweight-bold mt-4 mb-4 mob_comp">“Thank You for participating in the Online Audit’ 2020.<br>You have successfully submitted the details.”</h4>
		</div>
    <!-- <div class="row">
        <div class="col-md-12">
            <h1 class="mob_head text-center font-weight-bold mt-5 text-info mb-4 text-uppercase">instructions for Non Teachers</h1>
        </div>
    </div>
    <div class="w-75 row mx-auto d-block mt-5 mob_inst">
        <ol class="list-group list-group-flush text-justify">
    <li class="list-group-item">Ensure that the internet connectivity is stable at your place during the audit period.</li>
	<li class="list-group-item">Make sure that you are not using the cell phones to find the answers.</li>
	<li class="list-group-item">Teachers have to be live on zoom with CAMERA'S ON MODE while filling the forms.</li>
	<li class="list-group-item">Ensure that staff members attempt all the forms in one sitting only.</li>
	<li class="list-group-item">You have to rate yourself in "SELF EVALUATION". </li>
	<li class="list-group-item">You have to rate your peer/ nominated colleague in "PEER EVALUATION". </li>
    <li class="list-group-item">For any difficulty during the audit, please use chat box to raise queries and SPOC will resolve instantly.</li>
    </ol>
    </div> -->
</div>

<!-- <div class="container mb-5">
	<div class="row">
		<button type="button" class="btn btn-info mx-auto d-block mb-5" (click)="startevaluation()">Start Now</button>
	</div>
</div> -->