<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center font-weight-bold mt-5 text-info mb-4 text-uppercase">instructions for principal</h1>
        </div>
    </div>
    <div class="w-75 row mx-auto d-block mt-5">
        <ol class="list-group list-group-flush">
            <li class="list-group-item">1. Ensure the internet connectivity.</li>
            <li class="list-group-item">2. Make sure that the staff members are not using their cell phones to find answers.</li>
            <li class="list-group-item">3. Teachers has to be live on zoom while filling the forms.</li>
            <li class="list-group-item">4. Ensure that staff members attempt all the forms in one sitting only.</li>
            <li class="list-group-item">5. Principal fills the ‘Evaluation by Principal Form’ for each staff member in the given stipulated time.</li>
          </ol>
    </div>
</div>