<div class="container-fluid mt-5">
    <!-- <div class="row">
        <div class="col-md-12">
            <h1 class="mob_head text-center font-weight-bold mt-5 text-info mb-4 text-uppercase">instructions for the principal</h1>
        </div>
    </div> -->
    <div class="jumbotron">
		<h4 class="text-center font-eweight-bold mt-4 mb-4 mob_comp">“Thank You for participating in the Online Audit’ 2020.<br>You have successfully submitted the details.”</h4>
		</div>
    <!-- <div class="w-75 row mx-auto d-block mob_inst">
        <ol class="list-group list-group-flush text-justify">
            <li class="list-group-item">1. To encourage the observation of the Principal regarding his/her staff members</li>
            <li class="list-group-item">2. To ensure that the Principal knows about the subject knowledge of each teacher and domain expertise of non-teaching staffs</li>
            <li class="list-group-item">3. Principals are requested for a fair judgements and not to be biased while selecting the right option.</li>
            <li class="list-group-item">4. Please note that your feedback will be evaluated during the appraisal of the staff member.</li>
            <li class="list-group-item">5. To check the job fit of each teacher and non-teaching staff</li>
            <li class="list-group-item">6. To allocate the correct position to each teacher aligned to their capacities</li>
        </ol>
        
       
    </div> -->
</div>



<!-- <div class="container mb-5 mt-3">
	<div class="row">
		<button type="button" class="btn btn-info mx-auto d-block mb-5" routerLink="/principal_assessment">Start Assessment</button>
	</div>
</div> -->