<div class="container">
    <div class="row">
        <div class="col-md-3 mt-5">
            <div class="form-group d-block mx-auto">
                <select class="form-control" id="selectuser">
                    <option>Select User</option>
                    <option>Principal</option>
                    <option>Teachers</option>
                    <option>Non-Teaching Staff</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 mt-5">
            <a href="#" class="mx-auto d-block btn btn-warning" routerLink="/add_user">Generate Password</a>
        </div>
        <div class="col-md-3 mt-5">
            <a href="#" class="mx-auto d-block btn btn-success" routerLink="/add_user">Email Password</a>
        </div>
        <div class="col-md-3 mt-5">
            <a href="#" class="mx-auto d-block btn btn-primary" routerLink="/add_user">Download Users</a>
        </div>
    </div>
</div>

<div class="mx-5">
    <table class="table mt-3 text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    <div class="custom-control custom-checkbox text-left">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck">
                        <label class="custom-control-label" for="tableDefaultCheck">S. No.</label>
                    </div>
                </th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">View Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="col">
                    <div class="custom-control custom-checkbox text-left">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1">
                        <label class="custom-control-label" for="tableDefaultCheck1">1</label>
                    </div>
                </th>
                <td>Dev upadhyay</td>
                <td>devupadhyay200@gmail.com</td>
                <td>Devupadhyay200</td>
                <td><input type="password" readonly class="form-control-plaintext text-center" id="staticPassword"
                        value="jaipuria@123"></td>
                <td><a href="#" class="mx-auto d-block btn btn-info" routerLink="/add_user">View</a></td>
            </tr>
            <tr>
                <th scope="col">
                    <div class="custom-control custom-checkbox text-left">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
                        <label class="custom-control-label" for="tableDefaultCheck2">2</label>
                    </div>
                </th>
                <td>Dev upadhyay</td>
                <td>devupadhyay200@gmail.com</td>
                <td>Devupadhyay200</td>
                <td><input type="password" readonly class="form-control-plaintext text-center" id="staticPassword"
                        value="jaipuria@123"></td>
                <td><a href="#" class="mx-auto d-block btn btn-info" routerLink="/add_user">View</a></td>
            </tr>
            <tr>
                <th scope="col">
                    <div class="custom-control custom-checkbox text-left">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3">
                        <label class="custom-control-label" for="tableDefaultCheck3">3</label>
                    </div>
                </th>
                <td>Dev upadhyay</td>
                <td>devupadhyay200@gmail.com</td>
                <td>Devupadhyay200</td>
                <td><input type="password" readonly class="form-control-plaintext text-center" id="staticPassword"
                        value="jaipuria@123"></td>
                <td><a href="#" class="mx-auto d-block btn btn-info" routerLink="/add_user">View</a></td>
            </tr>
            <tr>
                <th scope="col">
                    <div class="custom-control custom-checkbox text-left">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck4">
                        <label class="custom-control-label" for="tableDefaultCheck4">4</label>
                    </div>
                </th>
                <td>Dev upadhyay</td>
                <td>devupadhyay200@gmail.com</td>
                <td>Devupadhyay200</td>
                <td><input type="password" readonly class="form-control-plaintext text-center" id="staticPassword"
                        value="jaipuria@123"></td>
                <td><a href="#" class="mx-auto d-block btn btn-info" routerLink="/add_user">View</a></td>
            </tr>
            <tr>
                <th scope="col">
                    <div class="custom-control custom-checkbox text-left">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck5">
                        <label class="custom-control-label" for="tableDefaultCheck5">5</label>
                    </div>
                </th>
                <td>Dev upadhyay</td>
                <td>devupadhyay200@gmail.com</td>
                <td>Devupadhyay200</td>
                <td><input type="password" readonly class="form-control-plaintext text-center" id="staticPassword"
                        value="jaipuria@123"></td>
                <td><a href="#" class="mx-auto d-block btn btn-info" routerLink="/add_user">View</a></td>
            </tr>
            <tr>
                <th scope="col">
                    <div class="custom-control custom-checkbox text-left">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck6">
                        <label class="custom-control-label" for="tableDefaultCheck6">6</label>
                    </div>
                </th>
                <td>Dev upadhyay</td>
                <td>devupadhyay200@gmail.com</td>
                <td>Devupadhyay200</td>
                <td><input type="password" readonly class="form-control-plaintext text-center" id="staticPassword"
                        value="jaipuria@123"></td>
                <td><a href="#" class="mx-auto d-block btn btn-info" routerLink="/add_user">View</a></td>
            </tr>
            <tr>
                <th scope="col">
                    <div class="custom-control custom-checkbox text-left">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck7">
                        <label class="custom-control-label" for="tableDefaultCheck7">7</label>
                    </div>
                </th>
                <td>Dev upadhyay</td>
                <td>devupadhyay200@gmail.com</td>
                <td>Devupadhyay200</td>
                <td><input type="password" readonly class="form-control-plaintext text-center" id="staticPassword"
                        value="jaipuria@123"></td>
                <td><a href="#" class="mx-auto d-block btn btn-info" routerLink="/add_user">View</a></td>
            </tr>
            <tr>
                <th scope="col">
                    <div class="custom-control custom-checkbox text-left">
                        <input type="checkbox" class="custom-control-input" id="tableDefaultCheck8">
                        <label class="custom-control-label" for="tableDefaultCheck8">8</label>
                    </div>
                </th>
                <td>Dev upadhyay</td>
                <td>devupadhyay200@gmail.com</td>
                <td>Devupadhyay200</td>
                <td><input type="password" readonly class="form-control-plaintext text-center" id="staticPassword"
                        value="jaipuria@123"></td>
                <td><a href="#" class="mx-auto d-block btn btn-info" routerLink="/add_user">View</a></td>
            </tr>
        </tbody>
    </table>
    
  <div>                
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>    </div> 
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">School Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="schoolname" placeholder="Enter School Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="location" placeholder="Enter School Location">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" class="form-control" id="schoolemail" placeholder="Enter email">
                        </div>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>