<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 px-0 bg-dark">
      <nav class="pt-0 navbar d-block px-0 navbar-light pr-0 mob_bg">
        <hr class="bg-light mt-0">
        <ul class="nav flex-column mt-1">
          <div class="sidebar-header">
            <div class="user-pic">
              <img class="img-responsive img-rounded"
                src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                alt="User picture">
            </div>
            <div class="user-info">
              <span class="user-name text-white"><strong>Jaipuria School</strong>
              </span>
              <span class="user-role text-white">Overall Audit Report</span>
              <span class="user-status">
                <i class="fa fa-circle"></i>
                <span class="text-white">Online</span>
              </span>
            </div>
          </div>
          <li class="nav-item">
            <hr class="bg-light mb-2"><a class="nav-link text-white font-weight-light mob_txt" href="#"
              routerLink="/audit_score_info">School Info & School Score</a>
            <hr class="bg-white my-2 mob_hr">
          </li>
          <li class="nav-item mob_menu">
            <a class="nav-link text-white font-weight-light mob_txt" href="#"
              routerLink="/consolidate_school_report">Consolidate Score of School</a>
            <hr class="bg-white my-2">
          </li>
          <li class="nav-item mob_menu">
            <a class="nav-link text-white font-weight-light mob_txt" href="#"
              routerLink="/consolidate_cro_report">Consolidate CRO Report</a>
            <hr class="bg-white my-2">
          </li>
          <li class="nav-item mob_menu">
            <a class="nav-link text-white font-weight-light mob_txt" href="#"
              routerLink="/individual_audit_report">Individual Report</a>
            <hr class="bg-white my-2">
          </li>
          <li class="nav-item mob_menu">
            <a class="nav-link text-white font-weight-light mob_txt" href="#"
              routerLink="/observer_feedback_report">Observer Feedback Report</a>
            <hr class="bg-white my-2">
          </li>
          <li class="nav-item mob_menu">
            <a class="nav-link text-white font-weight-light mob_txt" href="#" routerLink="/audit_recommendation">Audit
              Recommendation</a>
            <hr class="bg-white my-2">
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-10 mt-5 pt-4">
      <div class="container-fluid mt-5 px-5" style=" height: 550px; ">
        <div class="row">
          <p class="h3 text-justify font-weight-bold mb-4">Audit Recommendations</p>
          <p>Overall status of the school is _____________. The management and the principal needs to focus on some very
            urgent points to take the schoo, forward and make it more successful.</p> 
          <ol class="text-justify" style="line-height: 45px;">
            <li>Recruitment should be planned and good quality teachers hired. Experienced and educated teachers with a
              spositive attitude will help in implementing the Jaipuria vision effectively.</li>
            <li>Work allocation and reporting structure would help in distribution of work and build leaders among the
              team members.</li>
            <li>Optimum usage of resources is being done by the team which is appreciable. Efforts should be made to use
              these limited resources more wisely.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>