<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
          <a href="#" class="w-25 mx-auto d-block btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Assign Teacher</a>
        </div>
    </div>
</div>

<div class="mx-5">
  <table class="table mt-5">
    <thead class="thead-light">
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Name of the staff member</th>
        <th scope="col">Name of the peer 1</th>
        <th scope="col">Name of the peer 2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Ms. Seema Singh
        </td>
        <td>Ms. Alka Rani
        </td>
        <td>Ms. Bindu Tuteja</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Ms. Shalini Sharma
</td>
        <td>Ms. Priyanka Mahajan
        </td>
        <td>Ms. Alka Rani</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Ms. Rekha Singh
        </td>
        <td>Ms. Puja Raj
        </td>
        <td>Ms. Priyanka Mahajan</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Ms. Parul Gupta
        </td>
        <td>Ms. Bindu Tuteja
        </td>
        <td>Ms. Puja Raj</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Ms. Puja Raj
        </td>
        <td>Ms. Parul Gupta
        </td>
        <td>Ms. Alka Rani</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Ms. Priyanka Mahajan
        </td>
        <td>Ms. Rekha Singh
        </td>
        <td>Ms. Bindu Tuteja</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Ms. Alka Rani
        </td>
        <td>Ms. Shalini Sharma
        </td>
        <td>Ms. Rekha Singh</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Ms. Bindu Tuteja</td>
        <td>Ms. Seema Singh
        </td>
        <td>Ms. Priyanka Mahajan</td>
      </tr>
    </tbody>
  </table>
  <div>                
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>    </div> 
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mr-5" id="exampleModalLabel">Teacher Assessment</h5>
        <div class="form-group mb-0">
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Teaching Category</option>
                <option>N.T.</option>
                <option>P.R.T.</option>
                <option>T.G.T.</option>
                <option>P.G.T.</option>
          </select>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row mx-5">

            <!-- Table  -->
<table class="table table-bordered">
  <!-- Table head -->
  <thead>
    <tr>
      <th>
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck">
          <label class="custom-control-label" for="tableDefaultCheck">Name of the staff member</label>
        </div>
      </th>
      <th>Name of the peer 1</th>
      <th>Name of the peer 2</th>
    </tr>
  </thead>
  <!-- Table head -->

  <!-- Table body -->
  <tbody>
    <tr>
      <th scope="row">
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck1">
          <label class="custom-control-label" for="tableDefaultCheck1">Prateek Malik</label>
        </div>
      </th>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 1</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 2</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
    </tr>
    <tr>
      <th scope="row">
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2">
          <label class="custom-control-label" for="tableDefaultCheck2">Asha Bhardwaj</label>
        </div>
      </th>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 1</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 2</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
    </tr>
    <tr>
      <th scope="row">
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck3">
          <label class="custom-control-label" for="tableDefaultCheck3">Nikhil Arora</label>
        </div>
      </th>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 1</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 2</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
    </tr>
    <tr>
      <th scope="row">
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck4">
          <label class="custom-control-label" for="tableDefaultCheck4">Prateek Malik</label>
        </div>
      </th>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 1</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 2</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
    </tr>
    <tr>
      <th scope="row">
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck5">
          <label class="custom-control-label" for="tableDefaultCheck5">Prateek Malik</label>
        </div>
      </th>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 1</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 2</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
    </tr>
    <tr>
      <th scope="row">
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck6">
          <label class="custom-control-label" for="tableDefaultCheck6">Prateek Malik</label>
        </div>
      </th>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 1</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 2</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
    </tr>
    <tr>
      <th scope="row">
        <!-- Default unchecked -->
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="tableDefaultCheck7">
          <label class="custom-control-label" for="tableDefaultCheck7">Asha Bhardwaj</label>
        </div>
      </th>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 1</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
      <td><div class="form-group mb-0">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Select Peer 2</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
          <option>Prateek Malik</option>
          <option>Asha Bhardwaj</option>
          <option>Ashutosh Singh</option>
        </select>
      </div>
    </td>
    </tr>
  </tbody>
</table>
</div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Assign Now</button>
      </div>
    </div>
  </div>
</div>