<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4 mb-2">
          <a href="#" class="w-25 mx-auto d-block btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Assign Teacher</a>
        </div>
    </div>
</div>
<hr>
<div class="w-50 d-block mx-auto">
  <table class="table table-bordered mt-4">
    <thead>
      <tr class="text-center">
        <th scope="col">S.No</th>
        <th scope="col">Name of the staff member</th>
        <th scope="col">Name of the peer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let peerStaff of staffData; let i=index" class="text-center">
        <th scope="row">{{i+1}}</th>
        <td>{{peerStaff.name}}</td>
        <td>{{peerStaff.name}}</td>
      </tr>
    </tbody>
  </table>
  <div>                
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>    </div> 
</div>
<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mr-5" id="exampleModalLabel">Teacher Assessment</h5>
        <div class="form-group mb-0 mr-4 ">
          <select class="form-control" (change)="onStaffTypeChange($event.target.value)" [(ngModel)]="peeredStaffForm.staffType" name="staffType" required>
            <option class="dropdown-item" value="" disabled selected>Type of Staff</option>
            <option *ngFor="let staffType of staffTypeArr" class="dropdown-item"  value="{{staffType}}">{{staffType}}</option>
          </select>
        </div>
        <div class="form-group mb-0">
          <select class="form-control" (change)="onStaffcategoryChange($event.target.value)" [(ngModel)]="peeredStaffForm.staffCategory" name="staffCategory" required>
            <option class="dropdown-item" value="" disabled selected>Staff Category</option>
            <option *ngFor="let staffCategory of staffCategoryArr" class="dropdown-item"  value="{{staffCategory}}">{{staffCategory}}</option>
          </select>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #asteForm='ngForm'>
          <div class="row mx-5">

            <!-- Table  -->
<table class="table table-bordered">
  <!-- Table head -->
  <thead>
    <tr>
      <th scope="col">
                    <div class="custom-control custom-checkbox text-left">
                        <input type="checkbox" (click)="CheckAllOptions('customCheck')" class="custom-control-input"
                          id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Name of the Staff Member</label>
                      </div>
                </th>
      <th>Name of the peer</th>
    </tr>
  </thead>
  <!-- Table head -->

  <!-- Table body -->
  <tbody>
    <tr *ngFor="let staff of staffData; let i=index">
      <td>
        <div class="custom-control custom-checkbox">
          
          <!-- <input type="checkbox" [(ngModel)]="staff.checked" (change)="onstaffSelected(staff,$event)"
            [value]="i" class="custom-control-input" id="{{i}}"> -->
          <label class="custom-control-label" for="{{i}}">{{staff.name}}</label>
        </div>
      </td>
      <td><div class="form-group mb-0">
        <select class="form-control" [(ngModel)]="peeredStaffForm.teacherToPeer" name="teacherToPeer" required>
          <option class="dropdown-item" value="" disabled selected>Select Teacher</option>
          <option *ngFor="let staff of staffData" class="dropdown-item"  value="{{staff}}">{{staff.name}}</option>
        </select>
      </div>
    </td>
      </tr>
  </tbody>
</table>
</div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button *ngIf="!isEdit" type="button" class="btn btn-primary" [disabled]="asteForm.invalid" (click)="addpeeredStaff(asteForm)">Add Staff</button>
      </div>
    </div>
  </div>
</div>