<div class="container">
    <h3 class="mt-4 text-center font-weight-bold text-info">TEACHERS ASSESSMENT</h3>
    <div class="row">
        <div class="col-md-3 mt-3">
            <div class="form-group d-block mx-auto">
                <select class="form-control" (change)="onStaffTypeChange($event.target.value)" [(ngModel)]="principalAssessment.staffType" name="staffType" required>
                    <option class="dropdown-item" value="" disabled selected>Type of Staff</option>
                    <option *ngFor="let staffType of staffTypeArr" class="dropdown-item"  value="{{staffType}}">{{staffType}}</option>
                  </select>
            </div>
        </div>

        <div class="col-md-3 mt-3">
        <div class="form-group d-block mx-auto">
            <select class="form-control" (change)="onStaffcategoryChange($event.target.value)" [(ngModel)]="principalAssessment.staffCategory" name="staffCategory" required>
                <option class="dropdown-item" value="" disabled selected>Staff Category</option>
                <option *ngFor="let staffCategory of staffCategoryArr" class="dropdown-item"  value="{{staffCategory}}">{{staffCategory}}</option>
              </select>
        </div>
        </div>
        <div class="col-md-3 mt-3">
            <div class="d-block form-group  mx-auto">
                <select class="form-control" [(ngModel)]="principalAssessment.teacherToPeer" name="teacherToAssess" required>
                    <option class="dropdown-item" value="" disabled selected>Select Teacher</option>
                    <option *ngFor="let staff of staffData" class="dropdown-item"  value="{{staff}}">{{staff.name}}</option>
                  </select>
            </div>
        </div>
    </div>
</div>
<hr>