<div class="row">
    <div class="col-md-12">
        <h1 class="text-center font-weight-bold mt-5">TEACHERS SELF EVALUATION FORM</h1>
    </div>
</div>
<div class="container">
	<div class="row">
		 <div class="col-md-12 form-group">
		      <label class="labeltext">Do u Like Me ?</label><br>
		          <div class="form-check-inline">

					<label class="customradio"><span class="radiotextsty">Yes</span>
					  <input type="radio" checked="checked" name="radio">
					  <span class="checkmark"></span>
					</label> 
					<label class="customradio"><span class="radiotextsty">No</span>
					  <input type="radio" name="radio">
					  <span class="checkmark"></span>
					</label>
                    </div>
		  </div>
	</div>
</div>