<!-- Just an image -->
<div [ngClass]=" currentUrl === '/login' ? 'd-none' : 'd-block'">
<nav class="navbar navbar-light bg-light py-3">
        <img src="./assets/img/logo.png" width="225" height="auto" alt="">
        <span class="h5 text-dark font-weight-bold">D-196, D Block, Sector 63, Noida, Uttar Pradesh 201307</span>
        <span  *ngIf="isLoggedIn" class="h5 pointer text-dark mr-3 font-weight-bold text-decoration-none"
                (click)="doLogOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;LOG OUT</span>
                
        </nav></div>