<!-- Just an image -->
<diV [ngClass]=" currentUrl === '/login' ? 'd-none' : 'd-block'">
<nav class="navbar navbar-dark bg-dark py-3">
        <img src="./assets/img/logo.jpg" width="225" height="auto" alt="">
        <span class="h4 text-white font-weight-light">D-196, D Block, Sector 63, Noida, Uttar Pradesh 201307</span>
        <span  *ngIf="isLoggedIn" class="h5 pointer text-white mr-3 font-weight-bold text-decoration-none"
                (click)="doLogOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;LOG OUT</span>
                
        </nav></diV>