<div class="container">
    <div class="row">
        <div class="col-md-3 mt-5">
            <div class="float-left form-group  mx-auto">
                <select class="form-control" id="selectuser">
                    <option>Select User</option>
                    <option>Principal</option>
                    <option>Teachers</option>
                    <option>Non-Teaching Staff</option>
                </select>
            </div>
        </div>

        <div class="col-md-3 mt-5">
        <div class="form-group  mx-auto">
            <select class="form-control" id="selectuser">
                <option>Select Assessment</option>
                <option>Self Evaluation</option>
                <option>Peer Evaluation</option>
                <option>Subject Knowledge Assessment</option>
                <option>Academic Document & CRO Evaluation</option>
            </select>
        </div>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="font-weight-bold mt-3">SELF EVALUATION FORM</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input class="form-group form-control" type="text" placeholder="Enter Question 1">
            <input class="form-group form-control" type="text" placeholder="Enter Question 2">
            <input class="form-group form-control" type="text" placeholder="Enter Question 3">
            <input class="form-group form-control" type="text" placeholder="Enter Question 4">
            <input class="form-group form-control" type="text" placeholder="Enter Question 5">
            <input class="form-group form-control" type="text" placeholder="Enter Question 6">
            <input class="form-group form-control" type="text" placeholder="Enter Question 7">
            <input class="form-group form-control" type="text" placeholder="Enter Question 8">
            <input class="form-group form-control" type="text" placeholder="Enter Question 9">
            <input class="form-group form-control" type="text" placeholder="Enter Question 10">
            <input class="form-group form-control" type="text" placeholder="Enter Question 11">
            <input class="form-group form-control" type="text" placeholder="Enter Question 12">
            <input class="form-group form-control" type="text" placeholder="Enter Question 13">
            <input class="form-group form-control" type="text" placeholder="Enter Question 14">
            <input class="form-group form-control" type="text" placeholder="Enter Question 15">
            <input class="form-group form-control" type="text" placeholder="Enter Question 16">
            <input class="form-group form-control" type="text" placeholder="Enter Question 17">
            <input class="form-group form-control" type="text" placeholder="Enter Question 18">
            <input class="form-group form-control" type="text" placeholder="Enter Question 19">
            <input class="form-group form-control" type="text" placeholder="Enter Question 20">
            <a href="#" class="btn btn-primary float-right my-3" id="savequestions">Save Changes</a>
        </div>
    </div>
</div>