<div class="row">
	<div class="col-md-12">
		<h2 class="text-center my-4">PEER EVALUATION FORM</h2>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12"><h3 class="text-uppercase font-eweight-bold mb-3 bg-info d-block py-1 pl-2 text-white w-25">my duties</h3></div>
		<div class="col-md-12 form-group">
			<label class="labeltext text-secondary h4 pl-2"><span>1.&nbsp;</span>Study the Lesson Plans well in advance.</label>
			<div class="form-check-inline float-right">
				<label class="customradio mr-3"><span class="radiotextsty">SELDOM</span>
					<input type="radio" checked="checked" name="radio">
					<span class="checkmark"></span>
				</label>
				<label class="customradio mr-3"><span class="radiotextsty">OCASSIONALLY</span>
					<input type="radio" name="radio">
					<span class="checkmark"></span>
				</label>
				<label class="customradio mr-3"><span class="radiotextsty">FREQUENTLY</span>
					<input type="radio" checked="checked" name="radio">
					<span class="checkmark"></span>
				</label>
				<label class="customradio mr-3"><span class="radiotextsty">ALWAYS</span>
					<input type="radio" name="radio">
					<span class="checkmark"></span>
				</label>
			</div>
		</div>
	</div>
	<div class="col-md-12 mt-3">
		<button class="btn btn-success float-right" (click)="submitSelfEvaluation()" type="button">Submit Now</button>
	</div>
</div>