<div id="LoginForm">
    <div class="container">
    <div class="login-form">
    <div class="main-div mt-5">
        <div class="panel">
       <h2>Login</h2>
       <p>Please enter your email and password</p>
       </div>
        <form #logForm="ngForm" id="Login">
    
            <div class="form-group">
    
    
                <input [(ngModel)]="loginForm.username" name="username" type="text" class="form-control" id="username" placeholder="Email Username">
    
            </div>
    
            <div class="form-group">
    
                <input [(ngModel)]="loginForm.password" name="password" type="password" class="form-control" id="password" placeholder="Password">
    
            </div>
            <!--div class="forgot">
            <a href="reset.html">Forgot password?</a>
    </div-->
            <button type="submit" class="btn btn-primary" (click)="doLogin(logForm)">Login</button>
    
        </form>
        </div>
    </div></div>
    
</div>